<!DOCTYPE html>
<html>
    <head>
        <title>Online Shop</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css"/>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    </head>
  	
    <body>
        <div class="header-wrapper">
            <p class="red-ad">FREE SHIPPING ON ALL ORDERS ABOVE 99€</p>
            <div class="login-bar row align-center">
                <div class="column back-arrow d-lg-none"><?xml version="1.0" encoding="iso-8859-1"?> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 385.201 385.201" style="width: 20px;enable-background:new 0 0 385.201 385.201;" xml:space="preserve"> <g> <path id="Border_Arrow_Left" d="M3.543,201.729L183.323,381.51c2.43,2.43,5.618,3.621,8.794,3.597c0.096,0,0.168,0.048,0.265,0.048 h180.455c6.641,0,12.03-5.39,12.03-12.03c0-0.096-0.048-0.168-0.048-0.265c0.024-3.176-1.167-6.364-3.597-8.794L209.826,192.682 L381.583,20.938c4.824-4.824,4.824-12.644,0-17.468c-2.863-2.863-6.749-3.814-10.466-3.284H194.139 c-3.717-0.529-7.603,0.421-10.466,3.284L3.555,183.575c-2.502,2.502-3.645,5.799-3.549,9.083 C-0.091,195.93,1.04,199.227,3.543,201.729z M197.82,24.246h145.519L184.009,183.575c-2.502,2.502-3.645,5.799-3.549,9.083 c-0.096,3.272,1.047,6.569,3.549,9.071l159.365,159.365H197.784L29.372,192.682L197.82,24.246z"/></svg></div>
                <div class="fp-logo-mobile d-lg-none"><img src="/images/categories/fp-logo.png"></div>
                <div class="column hidden-xs large-4 large-offset-4"><i class="fas fa-map-marker-alt"></i> Store Locator</div>
                <div class="column hidden-xs large-4 end"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/></svg> Login</div>
                <div class="hidden-xs"><img alt="United States" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/BG.svg"/>EN</div>
                <div class="cart"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/></svg><span>0</span></div>
            </div>
            <div class="menu-bar hidden-xs row">
                <div class="column fp-logo large-offset-1"><img src="/images/categories/fp-logo.png"></div>
                <div class="column">STORE</div>
                <div class="column">COMPANY</div>
                <div class="column">AIRBAG</div>
                <div class="column">ATHLETES</div>
                <div class="column">NEWS</div>
                <div class="column large-offset-3"><i class="fas fa-search"></i></div>
            </div>
        </div>
        
        <% /* %>
        <div class="menu">
            <a href="/categories/mens">Mens</a>
            <a href="/categories/womens">Womens</a>
        </div>
        <% */ %>